<!DOCTYPE html>
<html>
<head>
    <title>Cybertrassa</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="fonts/ttnorms/ttnorms.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/jasny-bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="css/slick.css" rel="stylesheet">
    <link href="//blueimp.github.io/Gallery/css/blueimp-gallery.min.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/media.css" rel="stylesheet">
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]><script src="assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="http://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="http://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="js/main.js"></script>
</head>
<body>
    <div class="navmenu navmenu-default navmenu-fixed-left offcanvas" id="offcanvas">
      <a href="#" class="close-offcanvas">
          <img src="img/close-menu.png"
             srcset="img/close-menu@2x.png 2x,
                     img/close-menu@3x.png 3x">
      </a>
      <ul class="nav navmenu-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Главная</a>
              <ul class="dropdown-menu navmenu-nav">
                <li><a href="#">Сайт</a></li>
                <li><a href="#">Продвижение</a></li>
                <li><a href="#">Воронка продаж</a></li>
                <li><a href="#">Масштабирование</a></li>
                <li><a href="#">Игра</a></li>
              </ul>
            </li>
          <li><a href="#">Услуги</a></li>
          <li><a href="#">База знаний</a></li>
          <li><a href="#">Онлайн-обучение</a></li>
          <li><a href="#">Каталог сервисов</a></li>
      </ul>
    </div>

<section class="game full-width-game">
        <div class="item" v-if="step1" v-bind:class="{ 'zoom-game': zoom1, 'game-step-1': isActive }" >
          <div class="speed item-on-game" >
            <img src="img/img-speed-attention.png" alt="">
          </div>
          <div class="town-sell item-on-game">
            <img src="img/img-forward.png" alt="">
          </div>
          <div class="sitebuilders item-on-game">
            <img src="img/img-right.png" alt="">
          </div>
          <div class="road-sign item-on-game" @click="zom1()">
            <img src="img/img-site.png" alt="">
          </div>
          <div class="sign-walker item-on-game">
            <img src="img/img-preparation.png" alt="">
          </div>
          <div class="sign-2people item-on-game">
            <img src="img/img-mob-version.png" alt="">
          </div>
          <div class="sign-stop item-on-game" @click="mess2()">
            <img src="img/img-test.png" alt="">
          </div>
          <div class="sign-buy-online item-on-game" @click="popetap1()">
            <img src="img/img-online-shop.png" alt="">
          </div>
          <div class="sign-designer item-on-game" >
            <img src="img/img-freelancer.png" alt="">
          </div>
          
        </div>
        <!-- Этап 2 -->
          <div class="item" v-if="step2" v-bind:class="{ 'zoom-game': zoom22, 'game-step-2': isActive2 }">
         <div class="item-on-game step2-sign1">
           <img src="img/img-visibility.png" alt="">
         </div>
         <div class="item-on-game step2-sign2">
           <img src="img/img-seo-support.png" alt="">
         </div>
         <div class="item-on-game step2-sign4">
           <img src="img/img-overtake.png" alt="">
         </div>
         <div class="item-on-game step2-sign3">
           <img src="img/img-women.png" alt="">
         </div>
       
         <div class="item-on-game step2-sign5" @click="mess22()">
           <img src="img/img-flunk.png" alt="">
         </div>
       </div> 
       <!-- Этап 2-2 -->
                 <div class="item" v-if="step22" v-bind:class="{ 'zoom-game': zoom22, 'game-step-2-2': isActive22  }">
                          <div class="item-on-game step2-2-sign1" @click="zom22()">
                            <img src="img/img-visibility-area.png" alt="">
                          </div>
                          <div class="item-on-game step2-2-sign2">
                            <img src="img/img-promotion-business.png" alt="">
                          </div>
                          <div class="item-on-game step2-2-sign3" @click="mess3()">
                            <img src="img/img-test.png" alt="">
                          </div>
                          <div class="item-on-game step2-2-sign4" @click="popetap2()">
                            <img src="img/img-contextual-ad.png" alt="">
                          </div>
                          <div class="item-on-game step2-2-sign5" >
                            <img src="img/img-spam.png" alt="">
                          </div>
                          <div class="item-on-game step2-2-icon1">
                            <img src="img/ico-fb.svg" alt="">
                          </div> 
                          <div class="item-on-game step2-2-icon2">
                            <img src="img/ico-youtube.svg" alt="">
                          </div>  
                          <div class="item-on-game step2-2-icon3">
                            <img src="img/ico-instagram.svg" alt="">
                          </div> 
                          <div class="item-on-game step2-2-icon4">
                            <img src="img/ico-yandex.svg" alt="">
                          </div> 
                          <div class="item-on-game step2-2-icon5">
                            <img src="img/ico-vk.svg" alt="">
                          </div> 
                          <div class="item-on-game step2-2-icon6">
                            <img src="img/ico-google-plus.svg" alt="">
                          </div>  
                          <div class="item-on-game step2-2-icon7" >
                            <img src="img/ico-telegram.svg" alt="">
                          </div> 
                          <div class="item-on-game step2-2-icon8">
                            <img src="img/ico-ok.svg" alt="">
                          </div> 
                        </div> 
         <div class="item" v-if="step3" v-bind:class="{ 'zoom-game': zoom3, 'game-step-3': isActive3  }">
          <div class="item-on-game step3-sign1">
            <img src="img/img-atm.png" alt="">
          </div>
          <div class="item-on-game step3-sign2">
            <img src="img/img-call-center.png" alt="">
          </div>
          <div class="item-on-game step3-sign3">
            <img src="img/img-problems.png" alt="">
          </div>
          <div class="item-on-game step3-sign4">
            <img src="img/img-test.png" alt="">
          </div>
          <div class="item-on-game step3-sign5">
            <img src="img/img-drone.svg" alt="">
          </div>
          <div class="item-on-game step3-sign6" @click="zom3()">
            <img src="img/img-crow.svg" alt="">
          </div>
          <div class="item-on-game step3-sign7" @click="popetap3()">
            <img src="img/img-box.svg" alt="">
          </div>
          <div class="item-on-game step3-sign8" @click="mess4()">
            <img src="img/img-crm.png" alt="">
          </div> 
          
        </div>
        <div class="item " v-if="step4" v-bind:class="{ 'zoom-game': zoom4, 'game-step-4': isActive4  }">
          <div class="item-on-game step4-sign1" @click="zom4()">
            <img src="img/img-traffic-search.png" alt="">
          </div>
          <div class="item-on-game step4-sign2" >
            <img src="img/img-scaling.png" alt="">
          </div>
            <div class="item-on-game step4-icon3" >
            <img src="img/img-cow-big.svg" alt="">
          </div>
          <div class="item-on-game step4-sign3">
            <img src="img/img-new-strategies.png" alt="">
          </div>
          <div class="item-on-game step4-sign4" @click="popetap4()">
            <img src="img/img-exit.png" alt="">
          </div>
          <div class="item-on-game step4-sign5">
            <img src="img/img-test.png" alt="">
          </div>
          <div class="item-on-game step4-icon1" >
            <img src="img/img-tactics.svg" alt="">
          </div>
          <div class="item-on-game step4-icon2" >
            <img src="img/img-dog.svg" alt="">
          </div>

          <div class="item-on-game step4-icon4" >
            <img src="img/img-cow-small.svg" alt="">
          </div>
          <div class="item-on-game step4-icon5" >
            <img src="img/img-profitable-business.svg" alt="">
          </div>

          
        </div>
        <!-- Начало. уведомление подготовка сайта к приёму. при нажатии чего-то там, этот блок будет появляться. Просто потом расскоментировать -->
                
                <!-- <div class="preparation-site">
                  <img src="img/ico-hint.png" alt="">
                  <p>Подготовка сайта к приёму покупателей</p>
                </div> -->
            
          <!-- конец -->

          <!-- Начало. Попап - прошли 1 этап. при нажатии чего-то там, этот блок будет появляться. Просто потом расскоментировать -->
                
                <div class="popup-step-passed" v-show="pop_complete">
                  <h2>Поздравляем! Вы прошли {{step_message}}-й этап!</h2>
                  <div class="popup-step-passed-content">
                    <p>Поделиться результатом</p>
                    <div class="social-green">
                      <a class="social-green-item">
                        <i class="fa fa-vk" aria-hidden="true"></i>
                      </a>
                      <a class="social-green-item">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                      </a>
                      <a class="social-green-item">
                        <i class="fa fa-odnoklassniki" aria-hidden="true"></i>
                      </a>
                    </div>
                    <input type="text" value="http://cybertrassa.ru/game/stage1" disabled >
                  </div>
                </div> 
            
          <!-- конец -->
          
          <div class="popup-step-passed" v-show="popup_share" >
                  <div class="popup-step-passed-content" >
                    <p>Поделиться результатом</p>
                    <div class="social-green">
                      <a class="social-green-item">
                        <i class="fa fa-vk" aria-hidden="true"></i>
                      </a>
                      <a class="social-green-item">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                      </a>
                      <a class="social-green-item">
                        <i class="fa fa-odnoklassniki" aria-hidden="true"></i>
                      </a>
                    </div>
                    <input type="text" value="http://cybertrassa.ru/game/stage1" disabled >
                  </div>
                  <div class="popup-step-passed-wrapper" @click="close_popup_share()">
                </div>
                </div>
        <div class="info-panel">
           <div class="container-fluid">
            <div class="row">
                <div class="col-sm-4 users-stat-box">
                    <div class="c-panel users-stat">
                        <div class="user-yellow">
                            <img src="img/user-yellow.png"
                             srcset="img/user-yellow@2x.png 2x,
                                     img/user-yellow@3x.png 3x">
                                     28
                        </div>
                        <div class="user-green">
                            <img src="img/user-green.png"
                             srcset="img/user-green@2x.png 2x,
                                     img/user-green@3x.png 3x">
                                     10
                        </div>
                        <div class="user-red">
                            <img src="img/user-red.png"
                             srcset="img/user-red@2x.png 2x,
                                     img/user-red@3x.png 3x">
                                     20
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 pages-box">
                    <div class="c-panel game-pages">
                        <a v-bind:class="{ active: isActive }" >{{ mes }} 1</a>
                        <a v-bind:class="{ active: isActive2, active2: isActive22}" >{{mes2}} 2</a>
                        <a v-bind:class="{ active: isActive3 }" >{{mes3}} 3</a>
                        <a v-bind:class="{ active: isActive4 }" >{{mes4}} 4</a>
                    </div>
                </div>
                <div class="col-sm-4 hidden-xs">
                    <div class="c-panel share">
                        <a  @click="open_popup_share()">
                        <img src="img/share.png"
                         srcset="img/share@2x.png 2x,
                                 img/share@3x.png 3x">
                        </a>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </section>

        <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jasny-bootstrap.min.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/vue-main.js"></script>
</body>
</html>